It works

<form name="New Ideas" action="/create_idea">
  Name<input type="text" name="name" placeholder="Enter your name">
  Idea<textarea name="idea" placeholder="Type your idea here"> </textarea>
  Tags<input type="text" name="tag" placeholder="example: #YOLO #housemusic">
  <input type="submit" value="Add to ThoughtBank">
</form>